
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body { 
    width: 100vw;
    height: 100vh; 
    background: linear-gradient(180deg, #EEEEEE 0%, #FFFFFF 100%);
    background-repeat: no-repeat;
}


h1{
    margin-top: 40px;
    text-align: center;
}

#banner{
    width: 100px;
    height: 100px;
        
}

.container{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    margin: 50px auto;
}

.box-inputs{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    justify-content: space-evenly;
}
.box-inputs input{
    width: 250px;
    height: 25px;

}

.box-inputs label{
    font-family: Montserrat;
    font-weight: bold;
    font-style: normal;
    font-size: 17px;
}
.botoes{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    
}


button{
    width: 100px;
    align-self: center;
    margin-top: 20px;
    font-family: Montserrat;
    font-style: normal;    
    font-size: 13px;
    line-height: 29px;
    letter-spacing: 1px;
    color: black;
    text-transform: uppercase;
    margin: 5px; 
    
}